{
    "openapi": "3.0.0",
    "info": {
        "title": "lsd.sbl",
        "description": "E058.A05 \u041a\u0443\u0440\u044c\u0435\u0440\u044b \u0430\u0433\u0435\u043d\u0442\u043e\u0432. (ex. \u041b\u043e\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0421\u0431\u043e\u0440 \u0438 \u0414\u043e\u0441\u0442\u0430\u0432\u043a\u0430). <\/br><\/br> <a href=\"https:\/\/space.samokat.ru\/display\/ECOMOPER\/E058.A05+REST+API\" target=\"_blank\">API Documentation<\/a> &nbsp;|&nbsp; <a href=\"\/api\/doc.yaml\" download>OpenApi YAML<\/a> &nbsp;|&nbsp; <a href=\"\/api\/doc.json\" download>OpenApi JSON<\/a> ",
        "version": "2.2.2"
    },
    "servers": [
        {
            "url": "https:\/\/an-lsd-demo.sblogistica.ru",
            "description": "Actual API"
        }
    ],
    "paths": {
        "\/metrics\/prometheus": {
            "get": {
                "tags": [
                    "Monitoring"
                ],
                "summary": "Metrics in prometheus text format",
                "operationId": "get_metrics_prometheus",
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            }
        },
        "\/ping": {
            "get": {
                "tags": [
                    "Monitoring"
                ],
                "summary": "\u041c\u043e\u043d\u0438\u0442\u043e\u0440\u0438\u043d\u0433\u043e\u0432\u044b\u0439 ping \u0437\u0430\u043f\u0440\u043e\u0441",
                "operationId": "get_ping",
                "responses": {
                    "200": {
                        "description": "\u041f\u043e\u043d\u0433!",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/PingResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/get-delivery-package": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u0414\u0435\u0442\u0430\u043b\u044c\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 (\u043f\u0430\u0440\u0442\u0438\u0438)",
                "operationId": "post_api_v2_courier_task_get_delivery_package",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetDeliveryPackageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetDeliveryPackageResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/get-delivery-task": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u0414\u0435\u0442\u0430\u043b\u044c\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 (\u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0430 \u0437\u0430\u043a\u0430\u0437\u0430)",
                "operationId": "post_api_v2_courier_task_get_delivery_task",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetDeliveryTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetDeliveryTaskResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/get-pickup-from-department": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \u0434\u043b\u044f \u043a\u0443\u0440\u044c\u0435\u0440\u0430",
                "operationId": "post_api_v2_courier_task_get_pickup_from_department",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPickupFromDepartmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetPickupFromDepartmentResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/get-pickup-from-door": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \"\u0421\u0431\u043e\u0440 \u043e\u0442 \u0434\u0432\u0435\u0440\u0438\"",
                "operationId": "post_api_v2_courier_task_get_pickup_from_door",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPickupFromDoorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetPickupFromDoorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/get-pickup-from-postamat": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \"\u0421\u0431\u043e\u0440 \u0438\u0437 \u043f\u043e\u0441\u0442\u0430\u043c\u0430\u0442\u0430\"",
                "operationId": "post_api_v2_courier_task_get_pickup_from_postamat",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPickupFromPostamatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetPickupFromPostamatResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/send-delivery-task-failed": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u0435\u0440\u0435\u0434\u0430\u0447\u0430 \u0444\u0430\u043a\u0442\u0430 \u043d\u0435\u0443\u0434\u0430\u0447\u043d\u043e\u0439 \u0432\u044b\u0434\u0430\u0447\u0438 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                "operationId": "post_api_v2_courier_task_send_delivery_task_failed",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SendDeliveryTaskFailedRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/task\/send-delivery-task-success": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u0435\u0440\u0435\u0434\u0430\u0447\u0430 \u0444\u0430\u043a\u0442\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0439 \u0432\u044b\u0434\u0430\u0447\u0438 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                "operationId": "post_api_v2_courier_task_send_delivery_task_success",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SendDeliveryTaskSuccessRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/route-list\/get-task-list": {
            "post": {
                "tags": [
                    "Route List"
                ],
                "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0440\u0430\u0441\u043f\u0440\u0435\u0434\u0435\u043b\u0451\u043d\u043d\u044b\u0445 \u0437\u0430\u0434\u0430\u043d\u0438\u0439 \u0432 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u044b\u0439 \u043b\u0438\u0441\u0442 \u043a\u0443\u0440\u044c\u0435\u0440\u0430",
                "operationId": "post_api_v2_courier_route_list_get_task_list",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetRouteListTasksRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetRouteListTasksResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/route-list\/get-list": {
            "post": {
                "tags": [
                    "Route List"
                ],
                "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u044b\u0445 \u043b\u0438\u0441\u0442\u043e\u0432 \u043a\u0443\u0440\u044c\u0435\u0440\u0430",
                "operationId": "post_api_v2_courier_route_list_get_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetRouteListsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/requirement\/set-pickup-failed": {
            "post": {
                "tags": [
                    "Requirement"
                ],
                "summary": "\u0418\u043d\u0444\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 LSD \u0438 \u0434\u0440\u0443\u0433\u0438\u0435 \u0441\u0438\u0441\u0442\u0435\u043c\u044b \u043e \u0444\u0430\u043a\u0442\u0435 \u043d\u0435\u0443\u0434\u0430\u0447\u043d\u043e\u0433\u043e \u0441\u0431\u043e\u0440\u0430 \u0441 \u043f\u0440\u0438\u0447\u0438\u043d\u043e\u0439",
                "operationId": "post_api_v2_courier_requirement_set_pickup_failed",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SetPickupFailedRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445"
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/requirement\/set-pickup-from-department": {
            "post": {
                "tags": [
                    "Requirement"
                ],
                "summary": "\u0412\u044b\u043f\u043e\u043b\u043d\u0438\u0442\u044c \u0441\u0431\u043e\u0440 \u0441 \u043f\u043e\u0434\u0440\u0430\u0437\u0434\u0435\u043b\u0435\u043d\u0438\u044f",
                "operationId": "post_api_v2_courier_requirement_set_pickup_from_department",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SetRequirementPickedUpFromDepartmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445"
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/requirement\/set-pickup-from-door": {
            "post": {
                "tags": [
                    "Requirement"
                ],
                "summary": "\u0412\u044b\u043f\u043e\u043b\u043d\u0438\u0442\u044c \u0441\u0431\u043e\u0440 \u043e\u0442 \u0434\u0432\u0435\u0440\u0438",
                "operationId": "post_api_v2_courier_requirement_set_pickup_from_door",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SetRequirementPickedUpFromDoorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445"
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/requirement\/set-pickup-from-postamat": {
            "post": {
                "tags": [
                    "Requirement"
                ],
                "summary": "\u0412\u044b\u043f\u043e\u043b\u043d\u0438\u0442\u044c \u0441\u0431\u043e\u0440 \u0441 \u043f\u043e\u0441\u0442\u0430\u043c\u0430\u0442\u0430",
                "operationId": "post_api_v2_courier_requirement_set_pickup_from_postamat",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SetRequirementPickedUpFromPostamatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445"
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/courier\/failed-delivery-reason": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u043f\u0440\u0438\u0447\u0438\u043d \u043d\u0435\u0443\u0434\u0430\u0447\u043d\u043e\u0439 \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438",
                "operationId": "post_api_v2_courier_get_failed_delivery_reasons",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetFailedDeliveryReasonsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/base-role-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0431\u0430\u0437\u043e\u0432\u044b\u0445 \u0440\u043e\u043b\u0435\u0439",
                "operationId": "post_api_v2_dictionary_base_role_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetBaseRolesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/cancel-reason-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u043f\u0440\u0438\u0447\u0438\u043d \u043e\u0442\u043c\u0435\u043d\u044b",
                "operationId": "post_api_v2_dictionary_cancel_reason_list",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetCancelReasonsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetCancelReasonsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/courier-status-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u0432 \u043a\u0443\u0440\u044c\u0435\u0440\u043e\u0432",
                "operationId": "post_api_v2_dictionary_courier_status_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetCourierStatusesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/department-type-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0442\u0438\u043f\u043e\u0432 \u043f\u043e\u0434\u0440\u0430\u0437\u0434\u0435\u043b\u0435\u043d\u0438\u044f",
                "operationId": "post_api_v2_dictionary_department_type_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetDepartmentTypesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/department-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u043f\u043e\u0434\u0440\u0430\u0437\u0434\u0435\u043b\u0435\u043d\u0438\u0439",
                "operationId": "post_api_v2_dictionary_department_list",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetDepartmentsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetDepartmentsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/order-status-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u0432 \u0437\u0430\u043a\u0430\u0437\u0430",
                "operationId": "post_api_v2_dictionary_order_status_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetOrderStatusesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/parcel-status-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u0432 \u043f\u043e\u0441\u044b\u043b\u043a\u0438",
                "operationId": "post_api_v2_dictionary_parcel_status_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetParcelStatusesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/requirement-status-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u0432 \u043f\u043e\u0442\u0440\u0435\u0431\u043d\u043e\u0441\u0442\u0435\u0439",
                "operationId": "post_api_v2_dictionary_requirement_status_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetRequirementStatusesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/requirement-type-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0442\u0438\u043f\u043e\u0432 \u043f\u043e\u0442\u0440\u0435\u0431\u043d\u043e\u0441\u0442\u0435\u0439",
                "operationId": "post_api_v2_dictionary_requirement_type_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetRequirementTypesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/route-list-status-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u0432 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u044b\u0445 \u043b\u0438\u0441\u0442\u043e\u0432",
                "operationId": "post_api_v2_dictionary_route_list_status_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetRouteListStatusesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/settlement-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u043d\u0430\u0441\u0435\u043b\u0435\u043d\u043d\u044b\u0445 \u043f\u0443\u043d\u043a\u0442\u043e\u0432",
                "operationId": "post_api_v2_dictionary_settlement_list",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetSettlementsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetSettlementsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/dictionary\/task-status-list": {
            "post": {
                "tags": [
                    "Dictionary"
                ],
                "summary": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u0432 \u0437\u0430\u0434\u0430\u043d\u0438\u0439",
                "operationId": "post_api_v2_dictionary_task_status_list",
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetTaskStatusesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/get-distributed-task-list": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0437\u0430\u0434\u0430\u043d\u0438\u0439, \u0440\u0430\u0441\u043f\u0440\u0435\u0434\u0435\u043b\u0451\u043d\u043d\u044b\u0445 \u043d\u0430 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u044b\u0435 \u043b\u0438\u0441\u0442\u044b \u043a\u0443\u0440\u044c\u0435\u0440\u0430",
                "operationId": "post_api_v2_worker_task_get_distributed_task_list",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetDistributedTasksRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetDistributedTasksResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/get-pickup-from-department": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \"\u0421\u0431\u043e\u0440 \u0438\u0437 \u043f\u043e\u0434\u0440\u0430\u0437\u0434\u0435\u043b\u0435\u043d\u0438\u044f\"",
                "operationId": "post_api_v2_worker_task_get_pickup_from_department",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPickupFromDepartmentRequest2"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetPickupFromDepartmentResponse2"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/get-pickup-from-door": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \"\u0421\u0431\u043e\u0440 \u043e\u0442 \u0434\u0432\u0435\u0440\u0438\"",
                "operationId": "post_api_v2_worker_task_get_pickup_from_door",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPickupFromDoorRequest2"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetPickupFromDoorResponse2"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/get-pickup-from-postamat": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \"\u0421\u0431\u043e\u0440 \u0438\u0437 \u043f\u043e\u0441\u0442\u0430\u043c\u0430\u0442\u0430\"",
                "operationId": "post_api_v2_worker_task_get_pickup_from_postamat",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPickupFromPostamatRequest2"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetPickupFromPostamatResponse2"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/get-print": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u041f\u0435\u0447\u0430\u0442\u044c \u043d\u0430\u043a\u043b\u0430\u0434\u043d\u044b\u0445 \u0438\u0437 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0437\u0430\u0434\u0430\u043d\u0438\u044f",
                "operationId": "post_api_v2_worker_task_get_print",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetPrintTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GenerateDocumentResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "\u0421\u0443\u0449\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/get-undistributed-task-list": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u043d\u0435\u0440\u0430\u0441\u043f\u0440\u0435\u0434\u0435\u043b\u0451\u043d\u043d\u044b\u0445 \u0437\u0430\u0434\u0430\u043d\u0438\u0439",
                "operationId": "post_api_v2_worker_task_get_undistributed_task_list",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetUndistributedTasksRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetUndistributedTasksResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/task\/set-pickup-failed": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "\u0418\u043d\u0444\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 LSD \u0438 \u0434\u0440\u0443\u0433\u0438\u0435 \u0441\u0438\u0441\u0442\u0435\u043c\u044b \u043e \u0444\u0430\u043a\u0442\u0435 \u043d\u0435\u0443\u0434\u0430\u0447\u043d\u043e\u0433\u043e \u0441\u0431\u043e\u0440\u0430 \u0441 \u043f\u0440\u0438\u0447\u0438\u043d\u043e\u0439",
                "operationId": "post_api_v2_worker_task_set_pickup_failed",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SetPickupFailedRequest2"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445"
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/route-list\/create-empty": {
            "post": {
                "tags": [
                    "Route List"
                ],
                "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043f\u0443\u0441\u0442\u043e\u0433\u043e \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u043e\u0433\u043e \u043b\u0438\u0441\u0442\u0430",
                "operationId": "post_api_v2_worker_route_list_create_empty",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CreateEmptyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/CreateEmptyResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/route-list\/exclude-task-group": {
            "post": {
                "tags": [
                    "Route List"
                ],
                "summary": "\u0418\u0441\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u0435 \u043d\u0430\u0431\u043e\u0440\u0430 \u0437\u0430\u0434\u0430\u043d\u0438\u0439 \u0438\u0437 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u043e\u0433\u043e \u043b\u0438\u0441\u0442\u0430",
                "operationId": "post_api_v2_worker_route_list_exclude_task_group",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/ExcludeTaskGroupRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0423\u0441\u043f\u0435\u0445"
                    },
                    "422": {
                        "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ValidationResponseDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ErrorResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v2\/worker\/route-list\/get-detail": {
            "post": {
                "tags": [
                    "Route List"
                ],
                "summary": "\u041a\u0430\u0440\u0442\u043e\u0447\u043a\u0430 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u043e\u0433\u043e \u043b\u0438\u0441\u0442\u0430",
                "operationId": "post_api_v2_worker_route_list_get_detail",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/GetDetailRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\u0414\u0430\u043d\u043d\u044b\u0435 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043d\u043e\u0433\u043e \u043b\u0438\u0441\u0442\u0430",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GetDetailResponse"
                                }
                            }
                        }
                    },
                    "422": {
[...]
